 /* Add a card effect for articles */
 .card {
    background: rgba(255,255,255,0.8);
    padding:  0 50px;
    width: 90%;
    margin: auto;
    
 }

 .arial{
    font-family: Verdana
 }

/*test text */
 .body {
    background-color: #aaa;
}

.center {
    text-align: center
}

.piccard{
    background: rgba(255,255,255);
    padding:  20px 50px;
    width: 50%;
    margin: auto;
}

.textcard{
    background: rgba(255,255,255);
    padding:  20px 50px;
    width: 80%;
    margin: auto;
}