 /* Add a card effect for articles */
 .card {
    background: rgba(255,255,255,0.8);
    padding:  0 50px;
    width: 90%;
    margin: auto;
    
 }

 .arial{
    font-family: Verdana;
    background: rgba(255,255,255);
    padding:  20px 50px;
    width: 80%;
    margin: auto;
    border-radius: 25px;
 }

/*test text */
 .body {
    background-color: #aaa;
    padding: 0 20px;
}

.center {
    text-align: center
}

.piccard{
    background: rgba(255,255,255);
    padding:  30px 50px;
    width: 60%;
    margin: auto;
}

.textcard{
    background: rgba(255,255,255);
    padding:  20px 50px;
    width: 80%;
    margin: auto;
}
.titleboi{
    background: rgba(255,255,255);
    padding:  20px 50px;
    width: 80%;
    margin: auto;
    border-radius: 25px;
}
.littletitleboi{
        border: 2px solid rgb(15, 15, 15);
}

.underline{
    text-decoration: underline;
}
